@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
/********** Template CSS **********/
:root {
  --primary: #fe1616;
  --light: #F1F8FF;
  --dark: #000000;
}

.text-primary {
  color: #fe1616 !important;
}

.btn-primary {
  /* color: #000; */
  background-color: #fe1616;
  border-color: #fe1616;
}
a {
  color: #d70b0b;
  text-decoration: none;
}


.border-primary {
  border-color: #fe1616 !important;
}


.ff-secondary {
  font-family: 'Pacifico', cursive;
}

.fw-medium {
  font-weight: 600 !important;
}

.fw-semi-bold {
  font-weight: 700 !important;
}

.back-to-top {
  position: fixed;
  display: none;
  right: 45px;
  bottom: 45px;
  z-index: 99;
}

.bg-dark {
  background-color: #000410 !important;
}
.heading_container.heading_center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 3%;
}
.section-title {
  position: relative;
  display: inline-block;
}

.section-title::before {
  position: absolute;
  content: "";
  width: 45px;
  height: 2px;
  top: 50%;
  left: -55px;
  margin-top: -1px;
  background: var(--primary);
}

.section-title::after {
  position: absolute;
  content: "";
  width: 45px;
  height: 2px;
  top: 50%;
  right: -55px;
  margin-top: -1px;
  background: var(--primary);
}

.section-title.text-start::before,
.section-title.text-end::after {
  display: none;
}

@media (min-width: 1400px){

  .container-xxl {
    max-width: 1720px;
}
}
